
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EFFBEF;
    font-family: 'Libre Caslon Display, serif';
    color: #000;
    padding-top: 25px;
    height: 60px;
    padding: 0 20px;
    border-bottom: 0.5px solid #000 
}


.header-link-left {
  font-size: xx-large;
  padding-left: 50px;
}

.header-link-resume {
    font-size: xx-large;
    padding-left: 50px;
}

.header-link-contact {
    font-size: xx-large;
    padding-left: 50px;
}

